* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

textarea {
  resize: none;
}

textarea:focus{
  outline: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: #DEF2F1;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1-title {
  font-size: 35px;
  margin: 10px 0 20px 0;
}

.text-title {
  font-size: 24px;
  margin: 0 0 10px 0;
}


.wrap-text-area {
  display: flex;
  justify-content: center;
  margin: 20px 0 20px 0;
}

.wrap-keyboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 4px;
  background-color: #8E8D8A;
}

.keybord {
  max-width: 1200px;
  padding: 10px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.key {
  border: 1px solid #000;
  width: 55px;
  height: 55px;
  border-radius: 4px;
  padding: 5px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #3AAFA9;
  transition: 0.3s;
}

.key:hover {
  cursor: pointer;
  background-color: #3aafa97c;
}

.content1-key {
  font-size: 20px;
  position: absolute;
  top: 2px;
  left: 10px;
  color: #17252A;
}

.content2-key {
  font-size: 24px;
  color: #17252A;
}

.backspace {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  background-color: #2b7a78;
}

.backspace.active {
  background-color: #77dad5;
}

.tab {
  width: 70px;
  background-color: #2b7a78;
}

.tab.active {
  background-color: #77dad5;
}

.delete {
  width: 70px;
  background-color: #2b7a78;
}

.delete.active {
  background-color: #77dad5;
}

.capsLock {
  width: 130px;
  background-color: #2b7a78;
}

.capsLock.active {
  background-color: #77dad5;
}

.enter {
  width: 130px;
  background-color: #2b7a78;
}

.enter.active {
  background-color: #77dad5;
}

.shiftLeft {
  width: 130px;
  background-color: #2b7a78;
}

.shiftLeft.active {
  background-color: #77dad5;
}

.shiftRight {
  background-color: #2b7a78;
}

.shiftRight.active {
  background-color: #77dad5;
}

.controlLeft {
  width: 80px;
  background-color: #2b7a78;
}

.controlLeft.active {
  background-color: #77dad5;
}

.controlRight {
  width: 80px;
  background-color: #2b7a78;
}

.controlRight.acrive {
  background-color: #77dad5;
}

.metaLeft {
  background-color: #2b7a78;
}

.metaLeft.active {
  background-color: #77dad5;
}

.altLeft {
  background-color: #2b7a78;
}

.altLeft.active {
  background-color: #77dad5;
}

.altRight {
  background-color: #2b7a78;
}

.altRight.active {
  background-color: #77dad5;
}

.arrowUp {
  background-color: #2b7a78;
}

.arrowUp.active {
  background-color: #77dad5;
}

.arrowLeft {
  background-color: #2b7a78;
}

.arrowLeft.active {
  background-color: #77dad5;
}

.arrowDown {
  background-color: #2b7a78;
}

.arrowDown.active {
  background-color: #77dad5;
}

.arrowRight {
  background-color: #2b7a78;
}

.arrowRight.active {
  background-color: #77dad5;
}

.space {
  width: 490px;
}

.key.active {
  background-color: #77dad5;
}
