
* {
  margin: 0;
  padding: 0;
  user-select: none;
}

ul li {
  list-style: none;
}

textarea {
  resize: none;
  font-size: 18px;       
}

textarea:focus{
  outline: none;
}

:root {
--special-background-color: #bebebe;
--background-color-hover: #b7b7b7;
}

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  background-color: #f4f1f1;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1-title {
  font-size: 35px;
  margin: 10px 0 0 0;
}

.text-title {
  font-size: 24px;
  margin: 0 0 10px 0;
}


.wrap-text-area {
  display: flex;
  justify-content: center;
  margin: 20px 0 30px 0;
}

.wrap-keyboard {
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid #cecdcd;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(214, 214, 214);
  box-shadow: 10px 10px 30px #474343, -3px -3px 10px #ffffff;
}

.keybord {
  max-width: 1200px;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 12px;
}

.key {
  width: 55px;
  height: 55px;
  border-radius: 16px;
  padding: 5px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: rgb(214, 214, 214);
  box-shadow: 5px 5px 10px #474343, -3px -3px 10px #ffffff;
  transition: 0.12s;
}

.key:hover {
  cursor: pointer;
  background-color: var(--background-color-hover);
}

.content1-key {
  font-size: 20px;
  position: absolute;
  top: 2px;
  left: 10px;
  color: #17252A;
}

.content2-key {
  font-size: 24px;
  color: #17252A;
}

.backspace {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  background-color: var(--special-background-color);
}

.backspace.active {
  background-color: var(--special-color);
}

.tab {
  width: 70px;
  background-color: var(--special-background-color);
}

.delete {
  width: 70px;
  background-color: var(--special-background-color);
}

.capsLock {
  width: 130px;
  background-color: var(--special-background-color);
}

.enter {
  width: 130px;
  background-color: var(--special-background-color);
}

.shiftLeft {
  width: 130px;
  background-color: var(--special-background-color);
}

.shiftRight {
  background-color: var(--special-background-color);
}

.controlLeft {
  width: 80px;
  background-color: var(--special-background-color);
}

.controlRight {
  width: 80px;
  background-color: var(--special-background-color);
}

.metaLeft {
  background-color: var(--special-background-color);
}

.altLeft {
  background-color: var(--special-background-color);
}

.altRight {
  background-color: var(--special-background-color);
}

.arrowUp {
  background-color: var(--special-background-color);
}

.arrowLeft {
  background-color: var(--special-background-color);
}

.arrowDown {
  background-color: var(--special-background-color);
}

.arrowRight {
  background-color: var(--special-background-color);
} 

.space {
  width: 490px;
}

.key.active {
  box-shadow: 1px 1px 2px #858383, -1px -1px 2px #ffffff;
}

.description {
 max-width: 1280px;
 margin: 40px auto 0 auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}